<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="csrf-token" content={get_csrf_token()} />
  <.live_title suffix=" · Phoenix Framework">
    <%= assigns[:page_title] || "Discuss" %>
  </.live_title>
  <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
  <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <style>
    .hero {
      background-image: url('https://source.unsplash.com/1600x900/?coding,community');
      background-size: cover;
      background-position: center;
      height: 500px;
    }
  </style>
</head>



<body class="bg-zinc-900 text-zinc-300 px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-10">


  <!-- NAV BAR -->
  <nav class="flex justify-between items-center mb-8">
    <a href="#" class="text-brand text-xl font-bold"> 🦜| Discuss </a>

    <button class="bg-brand text-zinc-100 px-4 py-2 rounded hover:bg-brand-600 transition-colors">
      <i class="fab fa-github">&nbsp; </i> Login with GitHub
    </button>

  </nav>


  <!--Content-->
  <%= @inner_content %>

  <!--footer-->
  <footer class="mt-12 pt-8 border-t border-zinc-800">
    <div class="flex justify-between items-center">
      <p class="text-sm">🦜| Discuss - All rights reserved. &copy; 2023 </p>
      <ul class="flex space-x-4">
        <li><a href="#" class="text-zinc-400 hover:text-zinc-200 transition-colors"><i class="fab fa-twitter"></i></a>
        </li>
        <li><a href="#" class="text-zinc-400 hover:text-zinc-200 transition-colors"><i
              class="fab fa-facebook"></i></a></li>
        <li><a href="#" class="text-zinc-400 hover:text-zinc-200 transition-colors"><i
              class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </footer>

</body>

</html>